.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

#map {
	width: 600px;
    height: 600px;
}

body, html{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.headerbar {
    width: auto;
    height: 50px;
    background-color: #F2F5F7;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px 500px 300px;
    grid-gap: 1rem;
}


.currentweathericon {
    width:50px;
    height:25px;
    margin-left:90%;
}
.currentlocation{
    color:#707070;
    font-size: 16px;
}

.alerts{
    margin-top: 6.5px;
    padding-bottom: 10px;
    margin-left:20%;
    background-color: #C15229;
    height:25px;
    width: 500px;
    color:white;
    font-size:12px;
    text-align:center;
  
}

.searchbar{
    width:200px;
    margin-top:10px;
    margin-left: 50%;
}

.currentweatherheader{
    background-color:#304E9D;
    width: 1000px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}

.currentweatherheadertype {
    text-align: left;
    color: white;
    margin-left: 20px;
    padding-top: 1px;
    

}


.currentcontainer{
    background-color:#F8F8F8;
    margin: auto;
    width: 1000px;
    height: 150px;
    display:grid; 
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr .8fr .8fr
}

.one-icon{

}

.two-currenttemp {

}
.currenttemp {
   color:#F89F08;
   font-size: 50px;
   text-align: center;
   margin-top:20px;

}
.currentdescription{
    color:#304E9D;
   font-size: 12px;
   text-align: center;

}

.three-hl {

}

.six-varibales{
background-color: #F2F5F7;
}

.seven-varibales2 {
background-color: #F2F5F7;
}


.hourlyweatherheader{
    background-color:#304E9D;
    width: 1000px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}

.hourlyweatherheadertype {
    text-align: left;
    color: white;
    margin-left: 20px;
    padding-top: 1px;
}    

.hourlycontainer{
        background-color:#F8F8F8;
        margin: auto;
        width: 1000px;
        height: 200px;
        display:grid; 
        grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr .8fr .8fr
}